certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cocotb==1.9.1
colorama==0.4.6
edalize==0.5.4
find_libpython==0.4.0
idna==3.10
importlib_resources==6.4.5
iniconfig==2.0.0
Jinja2==3.1.4
lab_bc_client @ git+https://github.com/jodalyst/lab_bc_client@main
MarkupSafe==3.0.1
packaging==24.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pyserial==3.5
pytest==8.3.3
PyYAML==6.0.2
requests==2.32.3
teroshdl==3.0.0
urllib3==2.2.3
vsg==3.27.0
vunit_hdl==4.7.0
wasmtime==25.0.0
yowasp-runtime==1.65
yowasp-yosys==0.46.0.0.post790